body{
  background-color: #85C3AD;
}
.jumbotron{
  padding:5%;
  background-color: #75AB98;
  text-align: center;
}
.btn{
  margin:5%;
  display: block;
  text-align: center;
}
.searchBox {
  display: block;
  text-align: center;
    margin-bottom:5%;
}

td a {
  font-size: 150%;
}
